*body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
main{
    background-color: black;
    min-height: 20vh;
    position: relative;
    opacity: 80%;
    z-index: 1; /* se till att innehållet är över partikelbakgrunden */
}
image{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    z-index: 9999;
}
#planets{
 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    

}
.planet-info{
    text-align: center;
    color:white;
    z-index: 100;
}
h1{
    text-align: center;
    margin-top: 20px;
    color:white;
    z-index: 100;
}

h2{
    text-align: center;
    margin-top: 20px;
    color:white;
}

p{
    text-align: center;
    margin-top: 20px;
    color:white;
    max-width: 500px;
}

#tsparticles {
    position: fixed;
    inset: 0;             
    z-index: 0;            
    margin: 20px!important;
  pointer-events: none; 
}

button {
    display: block;
    margin: 20px auto;
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    background-image: url("/images/jorden.webp");
     background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
}
